.cart {
  border: 1px solid #888;
  padding: 10px;
  width: 200px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #888;
  border-radius: 6px;
  padding: 12px;
  width: 200px;
  background-color: #f9f9f9;
}

.contactText {
  margin: 4px 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

.button {
  align-self: flex-end;
  padding: 4px 8px;
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
}
